$primary-color: #e60073;
$hover-color: #ff0088;
$white: #fff;
$font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$font-size-base: 20px;
$line-height-base: 18.5714px;
$black-bg: black;