
$primary-color: #e60073;
$hover-color: #ff0088;
$white: #fff;
$black-bg: black;
$border-color: #9ecaed;
$font-family-main: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$font-size-large: 80px;
$font-size-base: 20px;
$line-height-base: 18.5714px;
$box-shadow-color: #9ecaed;
$padding-base: 10px;
$border-radius-base: 5px;

