@import 'variables';
@import 'mixins';
@import 'stickman';
@import 'buttons';
@import 'base';




@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px $white, 0 0 20px $white, 0 0 30px $primary-color, 0 0 40px $primary-color, 0 0 50px $primary-color, 0 0 60px $primary-color, 0 0 70px $primary-color;
  }
  to {
    text-shadow: 0 0 20px $white, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
  }
}




.alert-pop-up {
     text-align: center;
}